@charset "UTF-8";

/* table */
.tbl-wrap {
    border-top:1px solid $basic;
    .table {
        width:100%;
        table-layout:fixed;
        &.row-tbl {
            tbody {
                th,
                td {
                    height:38px;
                    padding:10px;
                    border-left:1px solid $border;
                    border-bottom:1px solid $border;
                    font-size:13px;
                    line-height:20px;
                    text-align:left;
                    vertical-align:middle;
                }
                th {
                    font-weight:500;
                    background:$blur;
                    text-align:center;
                }
            }
        }
    }
}