#wrap.login {
    height:100%;
    padding:0 15px;
    background:$blur;
    text-align:center;
    h1.logo {
        padding-top:60px;
        img {
            max-width:120px;
        }
    }
    .title {
        margin-top:40px;
        margin-bottom:15px;
        font-size:13px;
        line-height:1;
        font-weight:500;
        text-align:left;
    }
    .form-wrap {
        .row.last {
            order:2;
            text-align:left;
        }
        .btn-group {
            margin-top:20px;
        }
        .form-control {
            height:40px;
            padding:8px 20px;
            border-radius:0;
        }
    }
    .login-bottom {
        margin-top:80px;
        padding-top:20px;
        border-top:1px solid $border;
        p {
            text-align:center;
            color:$cont;
            font-size:12px;
            line-height:21px;
            font-weight:500;
            &.call {
                color:$basic;
                a {
                    color:inherit;
                }
            }
        }
    }
}